.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
/config/database.yml
/config/mail.yml
/config/facebook.yml
.idea
/db/structure.sql
/public/attachments
/.sass-cache
/notes
.DS_Store
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
/downloads
