#player
  .header (Grace Hrabi)
  .container
    .main
      .title= @track.title
      .plugin
      .controls
        .prev= link_to "&lt;&nbsp;Prev".html_safe, @track.previous
        .next= link_to "Next&nbsp;&gt;".html_safe, @track.next
      
      .description=@track.description.blank? ? "(none)" : @track.description
    .list
      %ul
        - @tracks.each do |track|
          %li= link_to track.title, track_path(track)