%h1 Change Password

- form_tag :url => change_password_admin_sessions_path, :method => :post do
  - if flash[:error]
    #error_explanation
      %h2 Could not change password.

      %ul
        %li= flash[:error]

  .actions
    = text_field_tag :password
    
    = text_field_tag :password_confirm
    
    = submit_tag
