<h2>News</h2>
<div>
  <% @sidebar_posts.each do |post| %>
    <%= thumbnail_link_for post, news_path(post) %>
    <h5>
      <%= pjax_link_to post.created_at.to_s(:news_without_time), news_path(post) %>
    </h5>
    <h4>
      <%= pjax_link_to post.title, news_path(post) %>
    </h4>
  <% end %>
</div>
<div>
  <%= pjax_link_to "#{ fa_icon('rss') } More News".html_safe, news_index_path, class: 'button' %>
</div>
