
- @sidebar_testimonials.each do |testy|
  .testimonial
    %p
      &#8220;
      = testy.body
      &#8221;
      - if testy.name.present?
        %p.source
          &mdash;
          = testy.name
