
- if @sidebar_testimonial
  .testimonial
    %p
      &#8220;
      = @sidebar_testimonial.body
      &#8221;
      - if @sidebar_testimonial.name.present?
        %p.source
          &mdash;
          = @sidebar_testimonial.name
