.post
  %h1 Singles
  %h3 &nbsp;

  <iframe style="border: 0; width: 600px; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/track=2590199252/size=large/bgcol=ffffff/linkcol=1f4948/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://gracehrabi.bandcamp.com/track/joanna">Joanna by Grace Hrabi</a></iframe>
  <iframe style="border: 0; width: 600px; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/track=2612321651/size=large/bgcol=ffffff/linkcol=1f4948/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://gracehrabi.bandcamp.com/track/autumn-leaves-the-last-leaf-2">Autumn Leaves (The Last Leaf) by Grace Hrabi</a></iframe>
