.post
  %h1 Upcoming Shows
  %h3 &nbsp;
  .body
    %ul.past
      - @events.each do |event|
        %li.multi_line
          %span.bold= event.starts_at.to_formatted_s(:news_without_time)
          %br
          = link_to event.title, event_path(event)

    %p
      = link_to "View all shows", events_path
