.post
  %h1 News
  %h3 &nbsp;
  .body
    %ul.past
      - @posts.each do |post|
        %li.multi_line
          %span.bold= post.created_at.to_formatted_s(:news_without_time)
          %br
          = link_to post.title, post_path(post)

    %p
      = link_to "View more", posts_path
