.post
  %h1 Private Performances
  %h3 &nbsp;
  .body
    %p 
      If you are interested in booking a jazz duo/trio for a wedding, retirement, or other private function please #{ obfuscated_mail_to(SITE_EMAIL, "contact me") }.
