.post
  %h1 Social Media
  %h3 &nbsp;
  %p
    = link_to image_tag("facebook-32.png", alt: "Grace Hrabi on Facebook"), "https://www.facebook.com/GraceHrabiMusic", title: "Grace Hrabi on Facebook"
    &nbsp;
    = link_to image_tag("twitter-32.png", alt: "Grace Hrabi on Twitter"), "https://twitter.com/GraceHrabi", title: "Grace Hrabi on Twitter"
