<%= pjax_layout do %>
  <h2>Mailing list</h2>
  <p>
    Sign up for my mailing list to receive updates about upcoming performances. Don't worry, you can unsubscribe at anytime.
  </p>
  <p>
    You can <a href="http://us8.campaign-archive1.com/home/?u=d1b41ff21448dd7fdff80820e&id=2d098428cf" title="View previous campaigns">browse past emails</a> to see what you've been missing.
  </p>

  <div id="mc_embed_signup">
    <!-- link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css" -->
    <form action="//gracehrabi.us8.list-manage.com/subscribe/post?u=d1b41ff21448dd7fdff80820e&amp;id=2d098428cf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">First Name </label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Last Name </label>
          <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_d1b41ff21448dd7fdff80820e_2d098428cf" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
  </div>

<% end %>
