<%= pjax_layout do %>
  <h1>
    Unsubscribe
    <%= @contact.email %>
  </h1>
  <p>
    Are you sure you want to unsubscribe from the mailing list?
  </p>
  <%= button_to "Unsubscribe", mailing_list_path(@contact.token), method: :delete %>
  <p><%= pjax_link_to "< Back", root_path %></p>
<% end %>
