%h3 Admin

%ul
  %li= link_to "Other Sections", admin_blocks_path
  %li= link_to "Media Player Tracks", admin_tracks_path
  %li= link_to "Change Password", password_admin_sessions_path
  %li= link_to "Logout", "/admin/logout"