- obj = error_messages
- if !obj.try(:errors).blank? || flash[:error]
  .error
    - if !obj.try(:errors).blank?
      %h2= "Oops! There #{obj.errors.count == 1 ? "was a problem" : "were some problems"} saving."
      %ul
        - obj.errors.full_messages.each do |msg|
          %li= msg
