- unless @past.blank?
  %h2.event Archive

  - @past.group_by{|event| event.starts_at.year }.each_pair do |year, events|
    .post
      %h1= year
      %br
      .body

        %ul.past
          - events.each do |event|
            %li
              %span.bold= event.starts_at.to_formatted_s(:news_without_time)
              = " : "
              = link_to event.title, event_path(event)
