<% unless @past.blank? %>
  <h2 class="event">Archive</h2>
  <% @past.group_by{|event| event.starts_at.year }.each_pair do |year, events| %>
    <div class="post">
      <h1>
        <%= year %>
      </h1>
      <br/>
      <div class="body">
        <%= render 'table', events: events %>
      </div>
    </div>
  <% end %>
<% end %>
