<%= pjax_layout do %>
  <% if @current.any? %>
    <h2 class="event">Happening Today</h2>
    <%= render "table", events: @current %>
  <% end %>
  <% if @upcoming.any? %>
    <h2 class="event">Upcoming Shows</h2>
    <%= render "table", events: @upcoming %>
  <% end %>
  <% if @upcoming.blank? && @current.blank? %>
    <h2>No upcoming shows</h2>
  <% end %>
  <p>
    <%= pjax_link_to "View archive of past events", archive_events_path %>
  </p>
<% end %>
