- if @current.any?
  %h2.event Happening Today
  - @current.each do |event|
    = render :partial => "event", :object => event

- if @upcoming.any?
  %h2.event Upcoming Shows
  - @upcoming.each do |event|
    = render :partial => "event", :object => event


= render :partial => "past"
