<%= pjax_layout do %>
  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod a lorem eu lacinia. Pellentesque eget eros nec enim mattis lobortis sit amet quis risus. In ut condimentum leo. Donec nec lacus libero.</h1>
  <p>Donec lobortis tincidunt risus, nec euismod diam. Praesent sagittis dolor quis pretium mollis. Phasellus dapibus molestie nibh vitae fermentum. Maecenas malesuada ornare dui, id vehicula justo. Cras luctus euismod diam eget hendrerit.</p>
  <p>Cras vitae risus eget dolor aliquet convallis. Phasellus mollis adipiscing nisi, vitae tincidunt lacus tempus nec. Phasellus mattis pulvinar turpis. Sed scelerisque posuere ipsum ac blandit. Vestibulum dolor tortor, ultricies dapibus sagittis et, semper sed sapien.</p>
<% end %>
