<%= sidebar_sections :audio_player, :testimonials, :events, :news %>

<div class="content">
  <%= image_tag "home-image.jpg", id: "home-image" %>
  ^ This is a placeholder for something big and awesome.
</div>
