<div class="post">
  <h1>Albums</h1>
  <h3>&nbsp;</h3>
  <%= image_tag 'grace_hrabi_afraid_of_heights_cover.jpg', style: 'height: 300px; padding-right: 20px', class: 'left_float' %>
  <p>
    Debut album <em>Afraid of Heights</em>
    <br>
    Release date: Monday June 14th, 2014
  </p>
  <div class="clear"></div>
</div>

<%= render partial: "blocks/home/bandcamp" %>
