= sidebar_sections :audio_player

.content
  .post
    %h1 Music
    %h3 &nbsp;


    %img{src: "http://placehold.it/120x120"}
    %p
      Album cover.
      %br
      = link_to "Link to order now from the store", "http://shop.gracehrabi.com"
      %br
      Description of the album.
      %ol
        - 10.times do |i|
          %li= "Track #{ i }"
      %br
