- content_for :js do
  :javascript
    $(function(){
      $('#mobile-email-field').focus();
    });

= form_tag mailing_list_mobile_index_path, method: :post do
  %h2 Mailing List Email
  
  = email_field_tag :email, params[:email], id: "mobile-email-field"
  
  = submit_tag "Sign Up"