<h1>Admin Login</h1>

<br>
<p>
  <%= link_to image_tag("sign-in-with-google.png", alt: "Sign In with Google", class: 'omniauth-provider-signin', width: 250), omniauth_authorize_path(:user, :google) %>
</p>
