.post
  %h1= pjax_link_to post.title, news_path(post)
  %h3= (post.created_at || Time.now).to_s(:news_without_time)

  .body
    = image_for post, post.title
    = auto_link(simple_format(post.body)).html_safe
    .clear_left
