/*
 *= require_self
 *= require font-awesome
 *= require fancybox
 *= require jquery.qtip.css
 *= require main
*/

#development_notice {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  margin: 8px;
  background-color: red;
  font-weight: bold;
}

a.calendar-event-icon {
  font-size: 1.8em;
}

.audio-under {
  padding: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgb(245,245,245);
  height: 30px;
}