/*
 *= require_self
 *= require font-awesome
 *= require fancybox
 *= require main
*/

#development_notice {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  margin: 8px;
  background-color: red;
  font-weight: bold;
}
