* {
  margin: 0;
  padding: 0;
}

html {
  margin:0;
}
  
body {
  background:#111;
  font-size:16px;
  line-height: 1.25em;
  font-family: 'Nixie One', serif;
  color: #fff;
  margin: 0;
  padding: 0;
  /*background: url(images/grace.jpg) no-repeat 50% 100% #000;*/
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clear{
  clear: both;
}
.float_lft{
  float:left;
}
h1 {
  color:#fff;
  font-weight: normal;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
}
.header {
  background:rgba(33,138,137,0.91);
  width: 100%;
  display: inline-block;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

.header h1{
  float: left;
  margin: 5px 5px 5px 16px;
  line-height: 1.5em;
  font-size: 2em;
  font-weight:400;
  text-transform:uppercase;
}

.header h1 a, .header ul li a.current {
  color: rgba(232,221,203,1);
}
.header .nav{
   list-style:none;
   float:left;
  z-index:9999;
  margin: 0 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  font-weight:400;
}

.header .socialmedia {
   list-style:none;
  float: right;
  z-index:9999;
  margin: 10px 20px;
  font-size: 1.75em;
  line-height: 1.5em;
}

.header .socialmedia li i{
  color: rgba(255,255,255,0.9);
  padding: 0 5px;
}

.header .socialmedia li i:hover{
  color: rgba(255,255,255,1);
  text-shadow: -1px -1px 5px rgba(0,0,0,0.5);
}

.header .nav li, .header .socialmedia li{
    display:inline;
}


.header .nav a{
    display:inline-block;
  color: #fff;
  margin: 15px 15px 15px 0;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:1px;
  line-height: 1.5em;
}
.nav a:hover, .header h1 a:hover{
  text-shadow: -1px -1px 5px rgba(0,0,0,0.5);
}
h2 {
  color: #fff;
  font-weight: 100;
  letter-spacing:1px;
  padding: 10px 0;
  text-transform:uppercase;
  font-family: 'Quicksand', sans-serif;
}

h3 {
  color:rgba(232,221,203,1);
  display: block;
  font-weight: normal;
   
}


a {
  text-decoration: none;
  color: #fff;
}
  
a:hover {
  color: rgba(255,255,255,0.7)
}
  
ul {
   list-style: none;
   margin: 0;
}  

  
hr {
  border: none;
  background: rgba(232,221,203,0.5);
  height: 1px;
  margin: 10px 0;
}  

.content {
  clear: left;
  padding: 20px 0 110px 0;
  margin: 0 20px;
  width: 50%;
  display: inline-block;
}

.content, .sidebar {
  font-size: 0.83333em;
}

.content p, .sidebar p{
  margin: 10px 0;
}


/*******SIDEBAR*/

.sidebar {
  float: right;
  padding: 20px 0 110px 0;
  margin: 0 20px;
  width: 40%;
}

.sidebar div{
  clear:both;
  margin-bottom: 10px;
}

.sidebar img{
  margin: 5px 10px 10px 0;
  width: 50px;
  float: left;
}
.sidebar img:hover{
  opacity:0.7;
}

.sidebar .date, .sidebar h5 a{
  font-size: 1.2em;
  line-height: 1.5em;
  color: rgba(232,221,203,1);
  font-weight:normal;
}
.sidebar h5 a:hover{
  color: rgba(232,221,203,0.7);
}
.sidebar h4 a {
  font-weight:normal;
}
.sidebar a.button{
  padding: 5px;
  background-color: rgba(33,138,137,0.85);
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  border-radius: 2px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}
.sidebar a.button:hover{
  background-color: rgba(33,138,137,1);
  text-shadow: -1px -1px 5px rgba(0,0,0,0.5);
}
.sidebar .testimonial {
  padding: 0 20px;
  margin: 0 20px;
  font-family: 'Quicksand', sans-serif;
  font-style:italic;
  font-size: 1.25em;
  line-height:1.5em;
  color: rgba(232,221,203,0.7);
  border-right: double 3px rgba(232,221,203,0.5);
  border-left: double 3px rgba(232,221,203,0.5);
}
.sidebar .testimonial .source{
  text-transform: uppercase;
  font-size: 0.75em;
  font-style:normal;
}

/*******FOOTER*/
.footer { 
  padding: 10px 20px;
  z-index: 9999px;
  position: fixed;
  width: 920px;
  bottom: 0px;
  background: rgba(30,30,30,0.90);
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  
}
.footer i{
  padding: 0 5px 0 0;
  color: rgba(33,138,137,1);
}
.footer .phone{
  float:left;
}

.footer .newsletter{
  float:right;
}

.footer .backtotop {
  display: none;
}



/*******CONTENT*/
.content h1, .content h2 {
  color: #fff;
  font-weight: 100;
  letter-spacing:1px;
  line-height: 1.1em;
  padding: 10px 0;
  font-family: 'Quicksand', sans-serif;
  padding: 20px 0 0 0;
}
.content .post {
  border-bottom: 1px solid rgba(232,221,203,0.5);
}
.content .post p a{
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
  color: rgba(232,221,203,1);
}
.content .post p a:hover{
  color: rgba(232,221,203,0.7);
}
.content .body .image{
  margin: 20px 0 0 0;
}

.content .body .image .inline_image:hover{
  opacity:0.7;
}

/*******CALENDAR*/  
table.calendar {
  font-size: 0.9em;
  font-family: 'Quicksand', sans-serif;
  border-collapse:collapse;
} 
  
table.calendar tr th{ 
  text-transform: uppercase;
  font-weight:normal;
  width: 14%;   
  padding: 5px;
  border-bottom: 1px solid rgba(232,221,203,1);   
}
table.calendar tr td.month{ 
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  vertical-align: middle;
  padding: 0 5px;
  border: none;
}
table.calendar tr td.previous{  
  text-align: left;
  vertical-align: middle;
  font-size: 2.5em;
  border: none;
}
table.calendar tr td.next{  
  text-align: right;
  vertical-align: middle;
  font-size: 2.5em;
  border: none;
}
table.calendar tr td{ 
  padding: 5px;
  vertical-align: top;
  border: 1px solid rgba(255,255,255,0.2);
  height: 50px;
}
table.calendar tr td div.events{ 
  text-align: center;
}
table.calendar tr td a{ 
  color: rgba(232,221,203,1); 
}
table.calendar tr td a:hover{ 
  color: rgba(232,221,203,0.7); 
}

table.calendar tr td span.day{  
  font-size: 1.5em;
}
table.calendar tr td.past_day{  
  color:  rgba(255,255,255,0.2);
}
table.calendar tr td.current_day{ 
  background-color: rgba(33,138,137,0.5);
}

/******PAGINATION*/
.post_pagination {
  display:block;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
.post_pagination .pagination span{
  display:block;
  float: left;
  min-width: 20px;
  padding: 2px 5px;
  margin: 0 10px 0 0;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 2px;
}
.post_pagination .pagination span.current{
  border: 1px solid rgba(255,255,255,1);
}

@media screen and (max-width: 640px) {

  body{
    background: url(images/grace_sm.jpg) fixed no-repeat 30% 0 #000;
    width: 100%;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  } 
  
  .content, .sidebar {
    width: auto;
    float: left;
    clear: both;
    padding: 5px 20px;
    margin: 0;
    background:rgba(0,0,0,0.5);
  }
  .sidebar {
    margin-bottom: 70px;
  }
  .header {
    padding-bottom: 10px;
    background: none;
  }
  
  .header h1{ 
    float: none;
    font-size: 2.35em;
    white-space:nowrap;
  }
    
  .header .nav, .header .socialmedia {
    float: left;
    clear: both;
  } 
  .header .nav a:hover{
    color:rgba(255,255,255,0.9);
}
  .header .nav li{
    display:block;
    padding:0;
    font-size: 1.5em;
  } 
  .header .socialmedia li i{
    background-color: rgba(33,138,137,0.85);
    padding: 5px;
    height: 25px;
    width: 25px;
    text-align:center;
    vertical-align: middle;
    border-radius: 3px;
    color: #fff;
  } 
  .content .body img{
    width: 70%;
  }
  .footer {
    width: 100%;
    font-size: 0.8333em;
    bottom:0;
  }
  
  .footer .phone {
    float: left;
  }
  
  .footer .backtotop {
    float: left;
    display:block;
    text-transform:uppercase;
    padding: 0 10px;
    margin-left: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1em;
    font-size: 0.9em;
    border-left: dotted 1px #fff;
  }
  .footer .backtotop i{
    font-size: 2em;
  }
  /*HIDE THIS STUFF!*/
  table.calendar, .footer .newsletter, .sidebar .testimonial {
    display:none;
  }
}
